/* Override some defaults */
html, body {
}

.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
}

/* Page header tweaks */
.page-header {
  padding: 20px 0px 10px;
  margin: -20px -20px 20px;
  border: 0;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a:hover {
    background-color: green;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
    color: grey;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	

footer {
    margin-top: 2em;
    text-align: center;
    color: gray;
    margin-bottom: 2em;
}


li.active {
    font-weight: bold;
}

ul.nav {
    font-size: 16px;
}

    ul.nav li {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    ul.nav li a:hover {
        background-color: white;
        text-decoration: underline;
    }


p {
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 1em;
}

h2, h3, h4 {
    margin-top: 1em;
}

pre code{
    font-size: 14px;
}



.pagination {
    margin-top: 4em;
    text-align: center;
}

body {
    font-size: 16px;
    line-height: 1.5;
}

li {
    line-height: 25px;
}

div.titulo_tag {
    margin-left: -10px; 
    color: gray; 
    margin-bottom: 0.5em; 
    margin-top: 1em; 
    font-size: small;
}

.content img {
    margin: auto;
    display: block;
}


span.fecha {
    font-size: small;
    text-transform: uppercase;
    color: #ccc;
}
